@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

:root.dark {
  --color-track: #000000;
  --color-track-hover: #333333;
  --color-thumb: #4D4D4D;
}

:root.light {
  --color-track: #f0f0f0;
  --color-track-hover: #f6f6f6;
  --color-thumb: #d6d6d6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-thumb);
}

::-webkit-scrollbar-track:hover {
  background: var(--color-track-hover);
}